// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "scss/sb-admin-2";

@import "./dataTables.bootstrap4.min.css";

.invalid-feedback {
  display: block;
}

.form-control-user {
  font-size: .8rem;
  border-radius: 10rem !important;
  padding: 1.5rem 1rem !important;
}

.btn-user {
  font-size: .8rem;
  border-radius: 10rem;
  padding: .75rem 1rem;
}