body {
    font-family: "Monserrat", sans-serif;
    background-color: #eee;
}

.sidebar {
    height: 100vh;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 83%,
        rgba(44, 0, 255, 1) 100%
    );
    //background-image:linear-gradient(rgba(0,0,0,.07)) ;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    //box-shadow: 5px 7px 25px #999;
}

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    padding: 20px 0px;
    transition: all 0.4s;
}

.sidebar-link:hover {
    background-color: #444;
    border-radius: 5px;
}

.current {
    background-color: #f44366;
    border-radius: 5px;
    box-shadow: 2px 5px 10px #111;
    transition: all 0.3s;
}

.current:hover {
    background-color: #f66436;
    border-radius: 5px;
    box-shadow: 2px 5px 20px #111;
}

.search-button {
    background: #eee;
    color: #dc3545;
}

.search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
}

.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
}
